name: create release on pull request merge to develop
run-name: ${{github.actor}} cerró pull request
on:
  pull_request:
    types: [closed]
jobs:
  create_release:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged && github.event.pull_request.base.ref == 'develop'
    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar JDK 17 (Corretto)
        uses: actions/setup-java@v3
        with:
          java-version: '17.0.7'
          distribution: 'adopt'
          java-package: 'jdk'
          architecture: 'x64'
          check-latest: false
          server-id: 'github'
          server-username: ${{ github.actor }}
          server-password: ${{ secrets.GITHUB_TOKEN }}
          overwrite-settings: true
          job-status: 'success'

      - name: Obtener nombre del repositorio
        id: get_repo_name
        run: echo "::set-output name=repo_name::$(basename $(pwd))"

      - name: Obtener tag name del último commit
        id: get_tag_name
        run: echo "::set-output name=tag_name::$(git describe --tags --abbrev=0)"

      - name: Obtener nombre de release
        id: get_release_name
        run: echo "::set-output name=release_name::Release ${{ github.run_number }}"

      - name: Obtener propietario del repositorio
        id: get_repo_owner
        run: echo "::set-output name=repo_owner::$(echo ${{ github.repository }} | cut -d '/' -f1)"

      - name: Ejecutar script para crear release
        run: node index.js ${{ secrets.GITHUB_TOKEN }} ${{ steps.get_repo_owner.outputs.repo_owner }} ${{ steps.get_repo_name.outputs.repo_name }} ${{ steps.get_tag_name.outputs.tag_name }} ${{ steps.get_release_name.outputs.release_name }}
